.RecordingFormSec {
  background-image: url(../images/SignUpPage.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}
#msform {
  width: 800px;
  margin: 300px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 10px;
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.4);
  padding: 35px 20px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}
#msform fieldset:not(:first-of-type) {
  display: none;
}
#msform input,
#msform textarea {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 15px;
}
/*buttons*/
#msform .action-button {
  width: 120px;
  background: #eda02d;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px;
  margin: 15px 25px;
  text-decoration: none;
  font-size: 18px;
}
#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #eda02d;
}
.fs-title {
  font-size: 21px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 45px;
  overflow: hidden;
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 50px;
  line-height: 25px;
  display: block;
  font-size: 14px;
  color: #333;
  background: white;
  border-radius: 10px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}
#progressbar li:first-child:after {
  content: none;
}
#progressbar li.active:before,
#progressbar li.active:after {
  background: #eda02d;
  color: white;
}
@media screen and (max-width: 1400px) {
  #msform {
    width: 700px;
  }
  #msform .action-button {
    width: 100px;
    font-size: 16px;
  }
  .fs-title {
    font-size: 20px;
  }
  .fs-subtitle {
    font-size: 17px;
  }
}
@media screen and (max-width: 994px) {
  #msform {
    width: 640px;
  }
  #msform input,
  #msform textarea {
    padding: 18px;
  }
  #msform .action-button {
    width: 90px;
  }
  .fs-title {
    font-size: 19px;
  }
  .fs-subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 624px) {
  #msform {
    width: 500px;
  }
  #msform input,
  #msform textarea {
    padding: 16px;
  }
  #msform .action-button {
    width: 100px;
  }
}
