.HeaderTeamPage {
  background-image: url(../../images/HederTeamPage.png);
  background-position: top;
}
@media screen and (max-width: 1450px) {
  .HeaderTeamPage {
    background-position: center;
  }
}
