.aboutUS {
  background-image: url(../../images/GigaChad.png);
  background-position: center;
  background-size: cover;
  padding-top: 1px;
}
.contentUs {
}
.conteinerUs {
  padding: 120px 90px 120px 600px;
}
.textAbout {
  line-height: 150%;
  color: black;
  font-weight: 700;
}
.textWelcome {
  line-height: 150%;
  font-weight: 700;
  color: azure;
}
.allResultAbout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.textJust {
  line-height: 150%;
  font-weight: 600;
  color: azure;
}
.resultsAbout {
  line-height: 265%;
  flex-wrap: wrap;
}
.resultsAbout h3 {
  font-size: 40px;
  font-weight: 900;
  color: black;
}
.resultsAbout p {
  font-weight: 600;
  color: azure;
}
.buttonJoin {
  display: inline-flex;
}
.buttonUs {
  line-height: 150%;
  min-height: 48px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 40px;
  padding: 5px 36px;
  color: azure;
  background: transparent;
  transition: all 0.3s;
}
.buttonUs:hover {
  background: black;
}
