.ScheduleSection {
  background-color: white;
  padding: 0 0 115px;
}
.rowTimetable {
  padding: 55px 0 27px;
  text-align: center;
}
.ScheduleText1 {
  color: #eda02d;
  margin: 0 0 12px;
  font-size: 25px;
  font-weight: 600;
}
.ScheduleText2 {
  color: #eda02d;
  margin: 0 0 25px;
  font-size: 40px;
  font-weight: 700;
}
.ScheduleTable {
  border: 1px solid rgb(142, 142, 142);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 14px;
}
.tableUpBlackBlock {
  border: 1px solid rgb(142, 142, 142);
  padding: 17px;
  color: azure;
  background-color: black;
  font-size: 17px;
}
.tableTimeBlock {
  border: 1px solid rgb(142, 142, 142);
  padding-top: 30px;
  background: rgb(193, 164, 35);
  background: linear-gradient(
    90deg,
    rgba(193, 164, 35, 1) 0%,
    rgba(237, 160, 45, 1) 100%
  );
  font-size: 17px;
}
.tableScheduleBlockWhite {
  border: 1px solid rgb(142, 142, 142);
  padding: 20px;
  background-color: white;
}
.tableScheduleBlockWhite:hover {
  background: rgb(193, 164, 35);
  background: linear-gradient(
    90deg,
    rgba(193, 164, 35, 1) 0%,
    rgba(237, 160, 45, 1) 100%
  );
}
@media screen and (max-width: 990px) {
  .ScheduleSection {
    padding: 0 10px 115px;
  }
  .tableScheduleBlockWhite {
    padding: 10px;
    font-size: 10px;
  }
  .tableTimeBlock {
    padding-top: 15px;
    font-size: 14px;
  }
  .tableUpBlackBlock {
    padding: 12px;
    font-size: 14px;
  }
  .ScheduleText1 {
    margin: 0 0 12px;
    font-size: 20px;
  }
  .ScheduleText2 {
    margin: 0 0 25px;
    font-size: 28px;
  }
}
@media screen and (max-width: 680px) {
  .ScheduleSection {
    padding: 0 2px 115px;
  }
  .tableScheduleBlockWhite {
    padding: 5px;
    font-weight: 700;
    font-size: 11px;
  }
  .tableTimeBlock {
    padding-top: 25px;
    font-weight: 700;
    font-size: 11px;
  }
  .tableUpBlackBlock {
    padding: 5px;
    font-size: 11px;
  }
  .ScheduleText1 {
    margin: 0 0 12px;
    font-size: 14px;
  }
  .ScheduleText2 {
    margin: 0 0 25px;
    font-size: 19px;
  }
}