*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background-color: black;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
}
header {
  background-image: url(../../images/meAndVin.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: azure;
  padding-top: 1px;
}
._conteiner {
  padding: 0 15px;
  box-sizing: content-box; /* --? */
  max-width: 1110px;
  margin: 0 auto;
}
.menu {
  display: flex;
  align-items: center;
  min-height: 147px;
}
.nav_menu {
  margin: 0 0 0 100px;
}
.logo a {
  font-size: 100px;
  color: azure;
}
.menu_blocks {
  margin: 0 5%;
  width: 100%;
}
.navigation {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
}
.navigation li a {
  text-decoration: none;
  color: azure;
  transition: all 0.3s;
}
.defolt:hover {
  color: #eda02d;
}
.navigation li {
  line-height: 171%;
  font-weight: 650;
}
.navigation li:not(:last-child) {
  margin: 0 21px 0 0;
}
.krug {
  border: 2px solid #eda02d;
  padding: 10px 32px;
  border-radius: 40px;
}
.krug:hover {
  background: #eda02d;
}
.ScrollLeft {
  padding: 250px 0 185px;
}
.ConteinerMonkeStrong {
  line-height: 531%;
  padding: 200px 0 0 0;
  align-items: center;
}
.text_header1 {
  font-size: 50px;
}
.text_header2 {
  font-size: 70px;
}
.text_header3 {
  font-size: 30px;
}
.disapearLink {
  display: inline-flex;
}

.disapearLink Link {
  transition: all 0.3s;
  color: azure;
}
.krug2 {
  color: azure;
  line-height: 150%;
  min-height: 48px;
  font-size: 20px;
  border: 2px solid #eda02d;
  justify-content: center;
  border-radius: 40px;
  padding: 5px 36px;
}
.krug2:hover {
  background: #eda02d;
}
.iconSing {
  padding: 3px;
  border-radius: 40px;
  border: 2px solid white;
  font-size: 22px;
}
.iconSing:hover {
  background: white;
}

.iconSingIn {
  padding: 10px;
  position: absolute;
  display: none;
  color: #eda02d;
}

.iconSingIn:hover {
  border-radius: 5px;
  background-color: #eda02d;
}
.iconNav:hover > ul {
  display: initial;
}
.defoltIcon:hover {
  color: black;
}
