.Authoriz {
  background-image: url(../images/SignUpPage.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}
.Registrations {
  background-image: url(../images/SignUpPage.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}
#register-form .inputRow {
  border: 1px solid #eda02d;
  box-shadow: 0 0 2px;
}
.allCard {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.justForPadding {
  background-color: white;
  border: 1px solid #eda02d;
  border-radius: 20px;
  box-shadow: 0 0 30px;
}
form {
  border-radius: 20px;
}
.rowRegistr {
  border-bottom: 2px solid #eda02d;
  padding: 20px 0 20px 190px;
}
.mt-1 {
  color: #eda02d;
  font-family: "Carlito", sans-serif;
}
.mt-2 {
  color: black;
}
.mt-8 {
  padding: 15px 190px 110px;
}

.mb-1 {
  width: 355px;
}
form Input {
  border: 1px solid #eda02d !important;
}
form Input:focus {
  border-color: black !important;
}
.mt-6 {
  background: rgb(193, 164, 35);
  background: linear-gradient(
    90deg,
    rgba(193, 164, 35, 1) 0%,
    rgba(237, 160, 45, 1) 100%
  );
}
@media screen and (max-width: 1100px) {
  .rowRegistr {
    padding: 20px 0 20px 150px;
  }
  .mt-8 {
    padding: 15px 150px 110px;
  }
}
@media screen and (max-width: 920px) {
  .rowRegistr {
    padding: 20px 0 20px 120px;
  }
  .mt-8 {
    padding: 15px 120px 80px;
  }
  .mb-1 {
    width: 315px;
  }
}
