* {
  font-family: sans-serif;
  box-sizing: border-box;
}
.menu {
  background-image: url(../../images/meAndVin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
  padding-top: 1px;
}
.content {
  width: 1170px;
  margin: 0 auto;
}
.conteiner {
  margin: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  font-size: 18px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation li a {
  font-weight: 650;
  color: azure;
  text-decoration: none;
}
.defolt:hover {
  color: rgba(255, 173, 40, 1);
}
.navigation li {
  padding-left: 25px;
}

.logo {
  width: 100px;
  height: 100px;
}
.Logo {
  width: 100px;
  height: 100px;
}
.krug {
  border: 2px solid rgba(255, 173, 40, 1);
  padding: 15px 20px;
  border-radius: 40px;
  color: azure;
}
.krug:hover {
  background: rgb(162, 131, 62);
  background: linear-gradient(
    90deg,
    rgba(162, 131, 62, 1) 0%,
    rgba(255, 173, 40, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.ScrollLeft {
  color: azure;
  width: 1170px;
  margin: 0 auto;
}
.ConteinerMonkeStrong {
  width: 1100px;
  margin: 65px 50px;
  padding-top: 300px;
  justify-content: space-between;
  align-items: center;
}
.text_header1 {
  font-family: sans-serif;
  font-size: 50px;
}
.text_header2 {
  font-family: sans-serif;
  font-size: 70px;
}
.text_header3 {
  font-family: sans-serif;
  font-size: 30px;
}
.disapearLink {
  width: 190px;
  font-size: 20px;
  border: 2px solid rgba(255, 173, 40, 1);
  padding: 15px 20px;
  border-radius: 40px;
}
.Prisoed {
  text-decoration: none;
  color: azure;
}
.disapearLink:hover {
  background: rgb(162, 131, 62);
  background: linear-gradient(
    90deg,
    rgba(162, 131, 62, 1) 0%,
    rgba(255, 173, 40, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
