.FooterSection {
  padding: 82px 0 0;
  background-color: #555454;
}
.conteinerFooter {
  display: flex;
  justify-content: center;
}
.contentgDiv {
  display: flex;
  margin-bottom: 65px;
  line-height: 185%;
}
.ball {
  color: azure;
  font-size: 270px;
}
.footerLeft_icon {
  position: absolute;
  left: 0;
}
.footerRight_icon {
  position: absolute;
  right: 0;
}
.rowFooter {
  display: flex;
  flex-wrap: wrap;
}
.CardFooter {
  padding: 0 15px;
}
.padAbout2 {
  padding: 0 0 0 22px;
}
.padAbout3 {
  padding: 0 0 0 5px;
}
.aboutCard ul {
  list-style-type: none;
}
.aboutCard li {
}
.padAbout1 p {
  margin: 0 0 18px;
  color: rgb(153, 153, 153);
  font-weight: 300;
}
.aboutCard a {
  color: rgb(153, 153, 153);
  text-decoration: none;
  font-size: 18px;
}
.logo {
  padding: 0 0 20px;
}
.logo i {
  font-size: 90px;
}
.BottomCopiright {
  border-top: 1px solid #000;
  text-align: center;
}
.margCopiraight {
}
.footIcons {
  display: flex;
}
.footIcons li {
  margin: 0 10px 0 0;
}
.footIcons i {
  font-size: 24px;
}
.aboutCard h6 {
  font-size: 28px;
  margin: 0 0 16px;
}
.padSpan {
  margin: 0 0 10px;
}
.BottomCopiright {
  padding: 23px 0;
}
