.recomendBlockGym {
  padding-top: 65px;
  background-color: black;
  padding-bottom: 75px;
}
.textRecomend {
  color: #eda02d;
  font-size: 31px;
}
.textRecomend2 {
  color: #eda02d;
  font-size: 48px;
  font-weight: 800;
}
.colorIcon {
  color: #eda02d;
}
.colorMore {
  margin-top: auto;
  color: #eda02d;
}
.kartochkiAnimated {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.rowRecomend {
  padding-bottom: 45px;
  line-height: 319%;
  text-align: center;
}
.Kartochka {
  width: 262px;
  display: flex;
  flex-direction: column;
  padding: 55px 40px;
  text-align: center;
  height: 100%;
  background-color: white;
}
.ZagolovKartoch {
  padding: 14px 10px;
  font-size: 29px;
}
.textCard {
  padding: 5px 10px;
}
.icon i {
  font-size: 60px;
}
