.recomendBlockGym {
  padding-top: 65px;
  background-color: black;
  padding-bottom: 75px;
}
.textRecomend {
  color: #eda02d;
  font-size: 31px;
}
.textRecomend2 {
  color: #eda02d;
  font-size: 48px;
  font-weight: 800;
}
.colorIcon {
  color: #eda02d;
}
.colorMore {
  margin-top: auto;
  color: #eda02d;
}
.kartochkiAnimated {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.rowRecomend {
  padding-bottom: 45px;
  line-height: 319%;
  text-align: center;
}
.Kartochka {
  display: flex;
  flex-direction: column;
  padding: 55px 40px;
  text-align: center;
  height: 100%;
  background-color: white;
}
.ZagolovKartoch {
  padding: 14px 10px;
  font-size: 29px;
}
.iconRecomend {
  font-size: 60px;
}
.textCard {
  padding: 5px 10px;
}
.pointerMainRec {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 25px;
}

@media screen and (max-width: 1300px) {
  .Kartochka {
    padding: 40px 15px;
  }
}
@media screen and (max-width: 1050px) {
  .Kartochka:nth-of-type(4) {
    display: none;
  }
  .kartochkiAnimated {
    margin: 50px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 808px) {
  .Kartochka:nth-of-type(3) {
    display: none;
  }
  .kartochkiAnimated {
    margin: 50px;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 560px) {
  .Kartochka:nth-of-type(2) {
    display: none;
  }
  .kartochkiAnimated {
    margin: 70px;
    grid-template-columns: 1fr;
  }
}
