.recomendBlockGym {
  padding-top: 65px;
  /* background-color: #33302c; */
  background-color: black;
  padding-bottom: 75px;
}
.textRecomend {
  color: #eda02d;
  font-size: 31px;
}
.textRecomend2 {
  color: #eda02d;
  font-size: 41px;
  font-weight: 800;
}
.colorIcon {
  color: #eda02d;
}
.colorMore {
  color: #eda02d;
}
.kartochkiAnimated {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.rowRecomend {
  min-height: 138px;
  line-height: 350%;
  text-align: center;
}
.Kartochka {
  padding: 55px 40px;
  text-align: center;
  background-color: white;
}
.Kartochka:hover {
}
.ZagolovKartoch {
  padding: 5px 25px;
  font-size: 26px;
}
.textCard {
  padding: 5px 10px;
}
.icon i {
  font-size: 60px;
}
