.OurServices {
  padding: 130px 0 365px;
  background: rgb(193, 164, 35);
  background: linear-gradient(
    90deg,
    rgba(193, 164, 35, 1) 0%,
    rgba(237, 160, 45, 1) 100%
  );
}
.ServicesConteiner {
}

.contentServices {
  min-height: 176px;
  text-align: center;
}
._placeIcon {
  font-size: 150px;
}
.row {
  color: black;
}
.textServicess1 {
  font-weight: 600;
  font-size: 45px;
  padding: 5px 0 10px;
}
.textServices2 {
  font-weight: 700;
  font-size: 24px;
  padding: 0 180px;
  line-height: 170%;
}
._services_left_icon {
  color: black;
  position: absolute;
  left: 0;
}
._services_right_icon {
  color: black;
  position: absolute;
  right: 0;
}
