@media screen and (max-width: 1500px) {
  ._placeIcon {
    display: none;
  }
}

.OurServices {
  padding: 130px 0 365px;
  background: rgb(193, 164, 35);
  background: linear-gradient(
    90deg,
    rgba(193, 164, 35, 1) 0%,
    rgba(237, 160, 45, 1) 100%
  );
}
.contentServices {
  min-height: 176px;
  text-align: center;
}
._placeIcon {
  font-size: 150px;
}
.row {
  color: black;
}
.textServicess1 {
  font-weight: 600;
  font-size: 45px;
  padding: 5px 0 10px;
}
.textServices2 {
  font-weight: 700;
  font-size: 24px;
  padding: 0 180px;
  line-height: 170%;
}
._services_left_icon {
  position: absolute;
  left: 0;
}
.iconBall {
  color: black;
  animation: Ball 3s 1s infinite alternate;
}
._services_right_icon {
  color: black;
  position: absolute;
  right: 0;
}
@keyframes Ball {
  0% {
    transform: translateY(0) rotateX(45deg);
  }
  10% {
    transform: translateY(0) rotateX(0deg);
  }
  100% {
    transform: translateY(-150px) rotateX(0deg);
  }
}
@media screen and (max-width: 900px) {
  .textServicess1 {
    font-size: 41px;
  }
  .textServices2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 710px) {
  .textServicess1 {
    font-size: 30px;
  }
  .textServices2 {
    font-size: 16px;
    padding: 0 60px;
  }
}
@media screen and (max-width: 685px) {
  .textServices2 {
    padding: 0 20px;
  }
}
