.aboutUS {
  background-image: url(../../images/GigaChad.png);
  background-position: center;
  background-size: cover;
  padding-top: 1px;
  color: white;
}
/* .conteinerUs {
  padding: 120px 90px 120px 550px;
} */
.textAbout {
  font-size: 38px;
  line-height: 150%;
  font-weight: 700;
}
.textWelcome {
  margin: 7px 0 0;
  line-height: 150%;
  font-weight: 700;
}
.allResultAbout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.textJust {
  margin: 1px 0 14px;
  font-size: 18px;
  line-height: 160%;
  font-weight: 600;
}
.resultsAbout {
  line-height: 265%;
  flex-wrap: wrap;
}
.resultsAbout h3 {
  font-size: 40px;
  font-weight: 900;
}
.resultsAbout p {
  font-weight: 600;
}
.buttonJoin {
  padding: 10px 0 0;
  display: inline-flex;
}
.buttonUs {
  line-height: 150%;
  min-height: 48px;
  font-size: 20px;
  border: 2px solid #eda02d;
  border-radius: 40px;
  padding: 5px 36px;
  color: azure;
  background: transparent;
  transition: all 0.3s;
}
.buttonUs:hover {
  background: #eda02d;
}
