.OurServices {
  padding: 130px 0 365px;
  background-color: black;
}
.ServicesConteiner {
}

.contentServices {
  min-height: 176px;
  text-align: center;
}
._placeIcon {
  font-size: 150px;
}
.row {
  color: azure;
}
.textServices1 {
  font-weight: 600;
  font-size: 24px;
  padding: 0 0 10px;
}
.textServices2 {
  font-weight: 700;
  font-size: 32px;
  padding: 0 180px;
  line-height: 170%;
}
._services_left_icon {
  color: azure;
  position: absolute;
  left: 0;
}
._services_right_icon {
  color: azure;
  position: absolute;
  right: 0;
}
