.headerServices {
  background-image: url(../../images/SignUpPage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bannerSectionHeader {
  padding: 100px 0;
}
.row {
  text-align: center;
  line-height: 265%;
}
.row h1 {
  color: azure;
  margin: 0 0 40px;
  font-size: 58px;
  font-weight: 700;
}
.bannerSectionContentBtn {
  margin: 0 auto;
  width: 300px;
  border: 2px solid #eda02d;
  color: azure;
  border-radius: 40px;
  padding: 11px 29px;
}
.bannerSectionContentBtn:hover {
  background-color: #eda02d;
  transition: all 0.3s;
}
.bannerSectionContentBtn span {
  padding: 11px;
}
