.FooterSection {
  color: #eda02d;
  border-top: 1px solid white;
  padding: 82px 0 0;
  background-color: black;
}
.conteinerFooter {
  position: relative;
  display: flex;
  justify-content: center;
}
.contentgDiv {
  display: flex;
  margin-bottom: 65px;
  line-height: 185%;
}
.ball {
  color: #eda02d;
  font-size: 270px;
}
.footerLeft_icon {
  position: absolute;
  left: 0;
}
.footerRight_icon {
  position: absolute;
  right: 0;
}
.rowFooter {
  display: flex;
  flex-wrap: wrap;
}
.CardFooter {
  padding: 0 15px;
}
.footer__navigation {
  display: flex;
  height: 185px;
  gap: 30px;
}
.aboutCard ul {
  list-style-type: none;
}

.spisokFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.aboutCard li {
}
.padAbout1 p {
  margin: 0 0 18px;
  color: #eda02d;
  font-weight: 300;
}
.aboutCard a {
  color: #eda02d;
  text-decoration: none;
  font-size: 18px;
}
.logo {
  padding: 0 0 20px;
}
.logo i {
  color: white;
  font-size: 90px;
}
.BottomCopiright {
  border-top: 1px solid white;
  text-align: center;
}
.margCopiraight {
}
.footIcons {
  display: flex;
}
.footIcons li {
  margin: 0 10px 0 0;
}
.footIcons i {
  color: #eda02d;
  font-size: 24px;
}
.aboutCard h6 {
  color: white;
  font-size: 28px;
  margin: 0 0 16px;
}
.padSpan {
  margin: 0 0 10px;
}
.BottomCopiright {
  padding: 23px 0;
}
